h1 {
  font-size: 190px;
}

h1,
h2,
h4,
h5,
.extra-data,
.loc-button {
  color: #3c4245;
}

h1,
h2,
h4 {
  font-weight: bold;
}

input:placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #3c4245;
  padding-left: 15px;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  padding-top: 50px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-border {
  padding: 50px 0 10px 120px;
  border-radius: 20px;
  border-color: #3c4245;
}

.search {
  width: 600px;
  height: 70px;
  border: #5f6769 2px solid;
  border-radius: 10px;
}

.submit-button {
  visibility: hidden;
}

.temperature {
  display: inline;
}
.celcius,
.farehnheit {
  display: inline;
  font-size: 20px;
  vertical-align: 110px;
}

.superscript a {
  color: #3c4245;
  text-decoration: none;
}

.my-city,
.current-emoji,
.date-time {
  display: inline-block;
  line-height: 30px;
}

.current-emoji {
  width: 90px; /* Adjust the desired width */
  height: auto;
  display: inline; /* Display the icon as an inline-block element */
  vertical-align: top; /* Align the icon vertically in the middle */
  margin-top: -15px;
}

.extra-data {
  padding-top: 150px;
  font-style: italic;
  font-size: 18px;
}

.icon {
  padding-top: px;
  padding-left: 50px;
  font-size: 50px;
}

.current {
  padding-top: 20px;
}

.weather-forecast {
  border: none;
  font-size: 16px;
}

.next-day {
  font-weight: bold;
}

.next-date {
  font-weight: normal;
}

.loc-button {
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.creator {
  padding: 15px;
}
